/* xyflow theme files. Delete these to start from our base */

.react-flow {
  --xy-background-color: #f7f9fb; /*fond du graph*/
  /* Custom Variables */
  --xy-theme-selected: #5f9225; /*contour du node quand selectionne*/
  --xy-theme-hover: #d8c0c1; /*contour du node quand survole*/
  --xy-theme-edge-hover: rgb(155, 153, 153); /*contour de l'edge quand survole*/
  --xy-theme-color-focus: #e8e8e8; /*contour gras du node quand focus dessus*/

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #aaaaaa;

  --xy-edge-label-color-default: #505050;
}

/*
.react-flow {
  --xy-background-color: #f7f9fb;
  --xy-theme-selected: #dd2a57;
  --xy-theme-hover: #c5c5c5;
  --xy-theme-edge-hover: rgb(155, 153, 153);
  --xy-theme-color-focus: #e8e8e8;

  --xy-node-border-default: 1px solid #ededed;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-node-border-radius-default: 8px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #aaaaaa;

  --xy-edge-label-color-default: #505050;
}
*/

.react-flow.dark {
  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.05),
    /* light shadow */ 0px 3.54px 4.55px 0px rgba(255, 255, 255, 0.13),
    /* medium shadow */ 0px 0.51px 1.01px 0px rgba(255, 255, 255, 0.2); /* smallest shadow */
  --xy-theme-color-focus: #535353;
}

/* Customizing Default Theming */

.react-flow__node {
  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  border: var(--xy-node-border-default);
  color: var(--xy-node-color, var(--xy-node-color-default));
}

.react-flow__node.selectable:focus {
  box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
  border-color: #d9d9d9;
}

.react-flow__node.selectable:focus:active {
  box-shadow: var(--xy-node-boxshadow-default);
}

.react-flow__node.selectable:hover,
.react-flow__node.draggable:hover {
  border-color: var(--xy-theme-hover);
}

.react-flow__node.selectable.selected {
  border-color: var(--xy-theme-selected);
  border-width: 2.5px;
  box-shadow:
      0px 3.54px 4.55px 0px #00000052, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #00000079;

}

.react-flow__node-group {
  background-color: rgba(207, 182, 255, 0.4);
  border-color: #9e86ed;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--xy-theme-edge-hover);
}

.react-flow__handle {
  background-color: var(--xy-handle-background-color-default);
}

.react-flow__handle.connectionindicator:hover {
  pointer-events: all;
  border-color: var(--xy-theme-edge-hover);
  background-color: white;
}

.react-flow__handle.connectionindicator:focus,
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
  border-color: var(--xy-theme-edge-hover);
}

.react-flow__node-resizer {
  border-radius: 0;
  border: none;
}

.react-flow__resize-control.handle {
  background-color: #ffffff;
  border-color: #9e86ed;
  border-radius: 0;
  width: 5px;
  height: 5px;
}

/* Override du style des noeuds du graphe*/
.react-flow__node-or, .react-flow__node-xor, .react-flow__node-cardinalite {
  box-shadow: var(--xy-node-boxshadow-default);
  border-color: #b4b2a9;
  border-radius: var(--xy-node-border-radius-default);
  background-color: #f1efe8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  color: var(--xy-node-color, var(--xy-node-color-default));
}

.react-flow__node-feature {
  background-color: #e6f1fb;
  padding: 10px;
  font-size: 12px;
  border: 1px solid #185fa5;
  border-radius: var(--xy-node-border-radius-default);
  box-shadow: var(--xy-node-boxshadow-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.react-flow__node-feature.node-included {
  background-color: #dcfce7;
  border-color: #22c55e;
  border-width: 2px;
}

.react-flow__node-feature.node-excluded {
  background-color: #fee2e2;
  border-color: #ef4444;
  border-width: 2px;
}


.react-flow__node-feature.node-included-inferred {
  background-color: #f0fdf4;
  border-color: #22c55e;
  border-width: 2px;
  border-style: dashed;
  opacity: 0.85;
}

.react-flow__node-feature.node-excluded-inferred {
  background-color: #fff5f5;
  border-color: #ef4444;
  border-width: 2px;
  border-style: dashed;
  opacity: 0.85;
}


.feature-included-inferred-legende-item {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #f0fdf4;
  border: dashed 2px #22c55e;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
  padding: 10px;
  z-index: 10;
  opacity: 0.85;
}

.feature-excluded-inferred-legende-item {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #fff5f5;
  border: dashed 2px #ef4444;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
  padding: 10px;
  z-index: 10;
  opacity: 0.85;
}